.login {
  background-color: var(--login-bg-color) !important;
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
}

.login_container {
  padding: 100px;
  text-align: center;
  background-color: var(--login--container-bg-color);
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
}

.login_container > img {
  height: 100px;
  object-fit: contain;
  margin-bottom: 40px;
}

.login_container > button {
  margin-top: 50px;
  text-transform: inherit !important;
  background-color: var(--login--container-button-bg-color) !important;
  color: var(--login--container-button-color);
}
